@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    opacity: 1;
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 1;
  }
  75% {
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.btn {
  width: 200px;
  height: 50px;
  margin: 50px;
  color: white;
  font-size: 1.1rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff79da), to(#9356dc));
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 100px;
  cursor: pointer;
  -webkit-box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2);
}

.btn:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#9356dc), to(#ff79da));
  background-image: linear-gradient(to bottom right, #9356dc, #ff79da);
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.navbar__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 498px) {
  .navbar__menu {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .navbar__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.navbar__menu li {
  list-style-type: none;
}

.navbar__menu--link {
  text-decoration: none;
  color: inherit;
  font-family: "Roboto", sans-serif;
  padding: 5px;
}

.footer {
  background-color: #353535;
  width: 100%;
  height: 30vh;
  padding: 40px 0 30px 30px;
}

.footer__title {
  color: white;
  font-family: "Shrikhand", sans-serif;
  font-weight: 300;
  margin-bottom: 15px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__list--link {
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  margin: 5px;
}

.footer__list--link i {
  margin-right: 10px;
}

.menu-title {
  font-family: "Shrikhand", sans-serif;
  font-size: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  background-color: #ececec;
}

.spinner {
  position: absolute;
  z-index: 1001;
  top: 50%;
  left: 40%;
  border: 16px solid #9356dc;
  border-top: 16px solid #ff79da;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  -webkit-animation: spin 1800ms linear;
          animation: spin 1800ms linear;
  opacity: 0;
}

.geolocation {
  background-color: #ececec;
  width: 100%;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 1.3em;
}

.geolocation i {
  margin: 15px;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f7f7;
}

.explore h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  padding: 50px;
  text-align: center;
}

.explore p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.howto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .howto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .howto .howto__buttons--steps {
    width: 25vw;
    height: 60px;
    font-size: 1.1rem;
  }
}

.howto h1 {
  font-family: "Roboto", sans-serif;
  padding: 50px 0 40px 5px;
  font-weight: bold;
}

.howto__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howto__buttons--steps {
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  height: 50px;
  width: 90vw;
  border-radius: 25px;
  margin: 15px;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.howto__buttons--steps i {
  margin-right: 20px;
}

.howto__buttons--steps span {
  background-color: #9356dc;
  color: white;
  font-weight: bold;
  width: 3em;
  line-height: 3em;
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: -10px;
}

.howto__buttons--steps:hover {
  cursor: pointer;
  background-color: #ddd3ee;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.howto__buttons--steps:hover i {
  color: #9356dc;
}

.restaurants {
  background-color: #f7f7f7;
  width: 100%;
  margin: 60px 0 60px 0;
}

.restaurants h1 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  padding-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .restaurants {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-radius: 20px;
}

.card {
  position: relative;
  margin: 10px;
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 20px;
}

.card span {
  background-color: #99e2d0;
  color: #278870;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  position: absolute;
  height: 1.8rem;
  width: 6rem;
  border-radius: 5px;
  top: 20px;
  right: 20px;
  text-align: center;
  margin: auto;
  padding-top: 8px;
}

.card__caption {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
}

.card__caption h5 {
  font-weight: normal;
}
/*# sourceMappingURL=main.css.map */