.geolocation{
    background-color:#eaeaea;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font-text;
    i {
        margin: 15px;
    }  
    
}