.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        @media screen and (max-width: map-get($breakpoints, phone)) {
            width: 100%;
        }
    }

    &__menu {

        display: none;

        @media screen and (min-width: map-get($breakpoints, desktop)) {

            display: flex;
            flex-direction: row;
        }

        li {
            list-style-type: none;
            margin: 25px;
        }

        &--link {
            text-decoration: none;
            font-weight: 600;
            color: inherit;
            font-family: $font-text;

        }

    }
}