.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    &__menu{
        display:flex;
        flex-direction: row;
        li{
            list-style-type: none;
            margin: 25px;
        }
        &--link{
            text-decoration: none;
            
          
        }
        
    }
}