.loader {

    animation: fadein 3000ms ease-in
}

.loaderbar {

    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    width: 40vw;
    height: 10px;
    z-index: 2;
    transform-origin: left;
    transform: scaleX(0);
    animation: load 2400ms cubic-bezier(.32, 0, .07, 1);
    opacity: 1;
    background-color: $primary-color;
}