.pagehead {
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;

    img {

        height: 30px;
        margin-left: 50px;
    }

    i {
        padding: 20px;
    }
}

.imgmenu {
    z-index: -1;
}

.menu {
    background-color: $background-color2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;

    position: relative;
    top: -3rem;
    z-index: 1;
    padding: 10px;

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;


        &--title {
            @include menu-titles;

        }

    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--title {
            font-weight: 400;
            font-family: $font-text;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }

        &--line {
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;

        }

        &--card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 25px;
            background-color: white;
            padding: 15px;
            margin: 5px 0 5px 0;
            @include shadow;

            .card-desc {
                font-family: $font-text;

                h5 {
                    font-weight: 700;
                    font-size: 1rem;
                    margin: 5px;
                }

                p {
                    font-weight: normal;
                    font-size: 0.8rem;
                    margin: 5px;
                }
            }

            .card-price {
                font-family: $font-text;
                font-weight: bold;
            }

        }
    }


}