.pagehead {
    height: 10vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 70vw;
        justify-content: space-between;
    }

    img {

        height: 30px;
        margin-left: 50px;
    }

    i {
        padding: 20px;
    }
}

.imgmenu {

    object-fit: cover;
    width: 100%;
    height: 40vh;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 70vw;
    }

}

.cards {
    & div:nth-child(1) {
        animation: transitionIn 1000ms;
    }

    & div:nth-child(2) {
        animation: transitionIn 1500ms;
    }

    & div:nth-child(3) {
        animation: transitionIn 2000ms;
    }


    @media screen and (min-width: map-get($breakpoints, tablet)) {
        display: flex;
        flex-direction: row;
        justify-items: space-between;
        flex-wrap: unset;
    }

}

.menu {

    background-color: $background-color2;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    position: relative;
    top: -3rem;
    z-index: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: map-get($breakpoints, tablet)) {
        width: 80%;
    }

    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;


        &--title {
            @include menu-titles;

        }

    }

    &__list {


        &--title {
            font-weight: 400;
            font-family: $font-text;
            padding-bottom: 5px;
            margin-bottom: 0px;
        }

        &--line {
            width: 40px;
            height: 3px;
            background-color: $tertiary-color;

        }

        &--card {
            display: flex;
            flex-direction: row;
            border-radius: 25px;
            background-color: white;
            margin: 8px;
            height: 100px;
            width: 90%;

            @media screen and (min-width: map-get($breakpoints, tablet)) {
                width: 20rem;
            }


            @include shadow;

            &-desc {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .card-desc {

                    @include flex-column;
                    padding: 15px;


                    h5 {
                        font-family: $font-text;
                        font-weight: 700;
                        font-size: 1rem;
                        margin: 5px;
                    }

                    p {
                        font-family: $font-text;
                        font-size: 1rem;
                        margin: 5px;

                    }

                }

                .card-price {
                    font-family: $font-text;
                    font-weight: bold;
                    align-self: flex-end;
                    padding: 5px 10px;
                }
            }

            &-check {
                transform: scaleX(0);
                transform-origin: right;
                transition: all 500ms ease-in-out;
                background-color: $tertiary-color;
                color: white;
                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
                width: 0%;
                position: relative;

                i {
                    position: absolute;
                    top: 40%;
                    left: 40%;
                }
            }


            :hover>&-check {

                transform: scale(1);
                width: 30%;


                i {
                    transform: rotate(360deg);
                    transition: transform 500ms ease-in-out;

                }
            }

        }
    }
}