@mixin shadow {
    box-shadow: 0px 6px 6px rgba(0,0,0, 0.3);

}

@mixin menu-titles {
    font-family: $font-title;
    font-size: 500;
    justify-content: center;
}

@mixin btn-style {
    background-image: $btn-color;
    color: white;
    border: none;
    justify-content: center;
    border-radius: 100px;
    cursor: pointer;
    box-shadow: 0 .8rem .8rem rgba(0, 0, 0, 0.2);
}