// COLORS
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-color: #f6f6f6;
$btn-color: linear-gradient(to left top, #9356dc, #b35cdc, #cf64dc, #e86edb, #f18ed5);
// Fonts
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand' , sans-serif;
